* {
  box-sizing: border-box;
}

.popup {
  width: 300px;
}

.popup header {
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 5px;
}

.popup header .description {
  white-space: initial;
  padding-right: 5px;
  margin-right: auto;
}

.popup header button + button {
  border-left: none;
}

.no-tasks {

}

ul.download-tasks {
  list-style: none;
  padding: 5px;
}

li.task {
  margin: 5px 0;
}

li.task .header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

li.task .header .name-and-status {
  padding-right: 5px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

li.task .header .name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li.task .header .status {
  font-size: 0.8em;
  text-transform: uppercase;
  color: #999;
  padding-right: 5px;
}

li.task .header .remove-button {
  padding: 5px;
}

li.task .progress-bar {
  display: flex;
  height: 3px;
}

li.task .progress-bar .bar-fill {
  background-color: blue;
}

li.task .progress-bar .bar-background {
  flex: 1;
  background-color: #ccc;
}
