.error-message {
  color: red;
}

header p {
  font-size: .9em;
  color: #999;
}

p pre {
  display: inline;
}

button {
  padding: 6px;
  height: auto;
}

ul.settings-list {
  list-style: none;
  padding-left: 15px;
}

ul.settings-list li {
  margin: 4px auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
