$color-error: #c23030;
$color-success: #0d8050;
$color-loading: #137cbd;
$color-indeterminate: #ccc;
$color-background: #fbfbfb;

$color-text: #111;
$color-text-faded: #444;
$color-text-faded-faded: #999;
