$color-error: #c23030;
$color-warning: #d99e0b;
$color-success: #0d8050;
$color-loading: #137cbd;
$color-selected: $color-loading;
$color-indeterminate: #888;
$color-background: #fbfbfb;

$color-text: #111;
$color-text-faded: #444;

.intent-error {
  color: $color-error;
}

.intent-warning {
  color: $color-warning;
}

.intent-success {
  color: $color-success;
}
