button {
  border-radius: 2px;
  background-color: #f9f9f9;
  border: 1px solid #999;
  padding: 3px 8px;
  font-size: 1em;

  &.disabled, &:disabled {
    border-color: #ccc;
  }

  &:not(.disabled):not(:disabled) {
    &:hover {
      background-color: #f0f0f0;
    }

    &:active, &.active {
      background-color: #ddd;
    }
  }
}

ul.settings-list {
  list-style: none;
  padding-left: 15px;

  li {
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
