@import 'colors';
@import 'path-selector';

.advanced-add-download-form {
  textarea {
    width: 100%;
    height: 6em;
    border-radius: 3px;
    border: 1px solid #aaa;
  }

  .download-path-display {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .path {
      margin-left: 3px;

      &.faded {
        color: $color-text-faded;
      }
    }
  }

  .path-selector {
    max-height: 500px;
    overflow-y: auto;
  }

  .buttons {
    text-align: right;

    button {
      margin: 5px;
    }
  }
}
