/*
These styles were ripped from chrome://browser/content/extension.css
and slightly modified to apply to other types of form fields that I use.
*/

/* Fields */
input[type="text"],
input[type="password"],
input[type="number"],
textarea {
  background-color: #fff;
  border: 1px solid #b1b1b1;
  box-shadow: 0 0 0 0 rgba(97, 181, 255, 0);
  font: caption;
  padding: 0 6px 0;
  transition-duration: 250ms;
  transition-property: box-shadow;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  height: 24px;
}

input[type="text"].hover,
input[type="password"].hover,
input[type="number"].hover,
textarea.hover {
  border: 1px solid #858585;
}

input[type="text"].disabled,
input[type="password"].disabled,
input[type="number"].disabled,
textarea.disabled {
  color: #999;
  opacity: .5;
}

input[type="text"].focused,
input[type="password"].focused,
input[type="number"].focused,
textarea.focused {
  border-color: #0996f8;
  box-shadow: 0 0 0 2px rgba(97, 181, 255, 0.75);
}

/* Interactive States */
input[type="text"]:not(disabled):hover,
input[type="password"]:not(disabled):hover,
input[type="number"]:not(disabled):hover,
textarea:not(disabled):hover {
  border: 1px solid #858585;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="text"]:focus:hover,
input[type="password"]:focus:hover,
input[type="number"]:focus:hover,
textarea:focus,
textarea:focus:hover {
  border-color: #0996f8;
  box-shadow: 0 0 0 2px rgba(97, 181, 255, 0.75);
}
