@import "colors";

* {
  box-sizing: border-box;
}

html {
  background-color: $color-background;
  color: $color-text;
}

.popup {
  width: 300px;

  header {
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 5px;

    .description {
      white-space: initial;
      padding-right: 5px;
      margin-right: auto;

      .fa {
        margin-right: 5px;
      }
    }

    button + button {
      border-left: none;
    }
  }
}

.no-tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-text-faded;
  padding: 10px;
}

ul.download-tasks {
  list-style: none;
  padding: 5px;
  margin: 0;

  li.task {
    margin: 5px 0;

    .header {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      .name-and-status {
        padding-right: 5px;
        margin-right: auto;
        overflow: hidden;

        .name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .status {
          font-size: 0.8em;
          text-transform: uppercase;
          color: $color-text-faded-faded;
          padding-right: 5px;
        }
      }

      .remove-button {
        padding: 5px;
      }
    }

    .progress-bar {
      display: flex;
      height: 3px;

      .bar-fill {
        &.in-progress {
          background-color: $color-loading;
        }

        &.completed {
          background-color: $color-success;
        }

        &.errored {
          background-color: $color-error;
        }

        &.unknown {
          background-color: $color-indeterminate;
        }
      }

      .bar-background {
        flex: 1;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.success-message {
  color: $color-success;;
}

.error-message {
  color: $color-error;
}
