@import 'colors';
@import 'default';

body {
  padding: 2px;
}

header {
  p {
    font-size: .9em;
    color: #999;
  }
  h3 {
    margin-bottom: 0;
  }

  &:first-child h3 {
    margin-top: 0;
  }
}

p pre {
  display: inline;
}

button {
  padding: 7px;
  height: auto;
  white-space: nowrap;
  flex-shrink: 0;
}

ul.settings-list {
  list-style: none;
  padding-left: 15px;

  li {
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.horizontal-separator {
  background-color: rgba(0, 0, 0, 0.15);
  height: 1px;
}

.label-and-input {
  flex: 1;
  display: flex;
  align-items: center;

  > .label {
    width: 80px;
    margin-right: 5px;
  }

   > .input,  > input {
    flex: 1;
  }
}

.connection-settings {
  .input {
    display: flex;
    align-items: center;

    > :not(select):not(input) {
      margin: 0 3px;
    }
  }
}

.protocol-setting,
.domain-setting {
  flex-shrink: 0;
}

.host-setting {
  flex: 1;
}

.port-setting {
  width: 80px;
}

.connection-test-result {
  margin-left: 10px;

  .fa {
    margin-right: 5px;
  }
}

.polling-interval {
  width: 60px;
  margin: 0 5px;
}

.wrong-polling-interval {
  margin-left: 5px;
}

.save-settings-footer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .save-result {
    margin-right: 10px;
  }
}
