@import "colors";

.advanced-add-download-form {
  display: flex;
  flex-direction: column;

  .card {
    border-radius: 2px;
    border: 1px solid #aaa;
    background-color: white;
  }

  .url-input {
    width: 100%;
    min-height: 30px;
    max-height: 180px;
    flex-shrink: 0;
    resize: vertical;
  }

  .input-field {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }

  .sibling-inputs {
    display: flex;
    justify-content: space-between;

    input {
      flex: 1;

      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  .download-path {
    padding: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .path-display {
      flex-shrink: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 3px;

      .path {
        margin-left: 3px;

        &.faded {
          color: lighten($color-text-faded, 30%);
        }
      }
    }

    .path-selector {
      max-height: 400px;
      overflow-y: auto;
      flex: 1;
    }
  }

  .buttons {
    text-align: right;
    padding: 4px 4px 0;
    flex-shrink: 0;

    button {
      margin: 5px 5px 0;
    }
  }
}
