@import "colors";

header {
  flex-shrink: 0;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 5px;
  transition: box-shadow 100ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0);

  img {
    width: 24px;
    height: 24px;
    margin-right: 4px;
  }

  .extension-name {
    margin-right: auto;
    font-weight: 500;
  }

  button {
    margin-left: 2px;

    &.called-out {
      animation-name: shadow-glow;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;
    }
  }

  &.with-shadow {
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, 0.2);
  }
}

@keyframes shadow-glow {
  0% {
    box-shadow: 0 0 2px 2px fade-out($color-loading, 1);
  }

  100% {
    box-shadow: 0 0 2px 2px fade-out($color-loading, 0.3);
  }
}
