@import "colors";
@import "common";

.popup {
  display: flex;
  flex-direction: column;

  .display-settings {
    flex-shrink: 0;
    max-height: 0px;
    transition: max-height 300ms;
    overflow: hidden;

    &.is-visible {
      max-height: 1000px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    h4 {
      margin-left: 15px;
    }

    .task-filter-settings-form {
      select {
        margin-right: 15px;
      }
    }
  }

  .popup-body {
    flex: 1;
    overflow-y: auto;
    position: relative;
    min-height: 50px;

    &.with-foreground {
      min-height: 400px;

      > :not(.add-download-overlay) {
        filter: blur(3px);
      }

      .download-tasks {
        overflow-y: hidden;
        height: 100%;
      }
    }
  }
}

.download-tasks {
  .hidden-count {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.popup-body .add-download-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    filter: blur 0.5px;
  }

  .overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
  }

  .advanced-add-download-form {
    height: 100%;

    .download-path {
      flex: 1;
    }
  }
}
