ul.settings-list {
  list-style: none;
  padding-left: 15px;

  li {
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .subtitle {
    display: block;
    font-size: 0.9em;
    color: #999;
  }
}
