.task-filter-settings-form {
  margin-bottom: 13px;

  .badge-display-type,
  .task-sort-type {
    display: flex;
    align-items: center;
    margin-left: 15px;

    .label {
      margin-right: 6px;
    }

    select {
      flex: 1;
      max-width: 400px;
    }
  }

  .badge-display-type {
    margin-top: 8px;
  }
}
